.rentForm {
  display: flex;
  justify-content: center;
  margin: 10px 10px;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px 30px;
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  display: none;
}

.rentForm__container {
  width: 80%;
}

.rentForm__container > h2 {
  display: flex;
  justify-content: center;
  margin: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
  color: seagreen;
}

.rentForm__datePicker {
  padding: 8px;
  border: 1px solid seagreen;
}
.rentForm__inputContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 25px;
  border-radius: 100px;
}

.rentForm__carCategory {
  background: white;
  border-color: white;
}

.dropdown {
  width: 200px;
  height: auto;
  background: white;
  border-color: white;
}

/* .rentForm__dropdown {
  display: flex;
  justify-content: center;
  padding: 0px 40px;
  width: 100px;
  background-color: black;
} */

#dropdown-menu-align-right {
  /* background-color: #0292d3;
  border-color: #0292d3; */
  background-color: seagreen;
  border-color: seagreen;
  border-radius: 4px;
  width: 100%;
  margin: 0px 5px;
}

.rentForm__carCategory {
}

@media all and (max-width: 720px) {
  .rentForm__container > h2 {
    font-size: 24px;
  }

  .rentForm__inputContainer {
    display: flex;
    flex-direction: column;
  }
  .rentForm__carCategory {
    width: 100%;
    min-width: 200px;
    background: white;
    border-color: white;
    padding-bottom: 10px;
    font-size: 12px;
  }
  .rentForm__datePicker {
    max-width: 506px;
    width: 100%;
    min-width: 200px;
    border-color: white;
    font-size: 14px;
    text-align: center;
    margin: 5px;
  }

  Button {
    width: 100%;
    min-width: 200px;
  }
  button {
    background: #006d9e;
  }
}
