.footer {
  display: flex;
  justify-content: center;
}

.footer__container {
  display: flex;
  justify-content: center;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 5% 0px;
  background-color: white;
  /* border-bottom: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  border-left: 1px solid lightgrey; */
  border-radius: 5px;
  margin-bottom: 20px;
  max-width: 1500px;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.footer__col {
  padding-left: 5%;
  flex: 1;
}

.footer__col > h2 {
  color: seagreen;
  font-size: 22px;
}

.footer__col > h3 {
  font-size: 18px;
}

.footer__col > p {
  font-size: 13px;
  margin-bottom: 4px;
}
@media only screen and (max-width: 990px) {
  /* .footer__container {
    display: flex;
    flex-direction: column;
  } */
}
